.DS_Store

*~
.*.swp
*.hi
*.o
*.prof

sandbox/*
projects/*
TODO

lyah/9-input-and-output/todo.txt
cis194/**/*.pdf
cis194/**/HW07
cis194/**/victims.json
cis194/**/new-transations.json
nicta/

**/.cabal-sandbox/
**/cabal.sandbox.config
**/dist

